@model List<CvApp.DTO.DTOs.ExperienceDtos.ExperienceListDto>

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Deneyim</h2>

        @foreach (var experience in Model)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@experience.Title</h3>
                    <div class="subheading mb-3">@experience.SubTitle</div>
                    <p>@experience.Description</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@experience.StartDate.ToString("Y") - 
                     @{
                         if (experience.EndDate.HasValue)
                         {
                             <span>@(((DateTime)experience.EndDate).ToString("Y"))</span>
                         }
                         else
                         {
                             <span>Devam Ediyor</span>
                         }
                     }
                     </span></div>
            </div>
        }

    </div>
</section>