@model List<CvApp.DTO.DTOs.EducationDtos.EducationListDto>

<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Eğitim</h2>

        @foreach (var education in Model)
        {
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">@education.Title</h3>
                    <div class="subheading mb-3">@education.SubTitle</div>
                    <div>@education.Description</div>
                    
                </div>
                <div class="flex-shrink-0"><span class="text-primary">@education.StartDate.ToString("Y") - 
                    @{ 
                        if (education.EndDate.HasValue)
                        {
                            <span>@(((DateTime)education.EndDate).ToString("Y"))</span>
                        }
                        else
                        {
                            <span>Devam Ediyor</span>
                        }
                    }
                     
                     </span></div>

            </div>
        }

    </div>
</section>